

$primary-color: #07465b;
$primary-color-light: #0e6f89;
$room-four-color: #f39300;
$room-five-color: #2a7732;
$room-six-color: #3e638c;
$room-seven-color: #b11918;
$font-size: 2.2em;
$font-weight: 400;
$abril-font: 'Abril Fatface', cursive;
